<!-- filepath: /mnt/659603F16F68784E/Softcom/enigma/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style_dashboard.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Itim&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>
    <div id="container" class="navbar">
        <div class="logo">
            <a href="index.html">
                <img src="enigma-logo.jpg" alt="enigma">
            </a>
        </div>

        <div class="separator">
            |
        </div>

        <div class="createquiz">
            <a href="#">
                <button class="create">
                    <i class="fa-solid fa-pen-to-square"></i>
                    Create a quiz
                </button>
            </a>
        </div>

        <div class="joinquiz">
            <a href="#">
                <button class="join">
                    <i class="fa-regular fa-clipboard"></i>
                    Join a quiz                 
                </button>
            </a>
        </div>

        <div class="socials">
            <nav>
                <ul class="menu">
                    <li class="menu-item">
                        <i class="fa-regular fa-comment"></i>
                        Socials
                        <ul class="dropdown">
                            <li><a href="#">Friends</a></li>
                            <li><a href="#">Leaderboard</a></li>
                            <li><a href="#">Club</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="profile">
            <img src="profile-pic.jpg" alt="profile" class="profile-pic">
            <nav>
                <ul class="menu">
                    <li class="menu-item">
                        Hey, Sans!
                        <ul class="dropdown">
                            <li><a href="#">My Profile</a></li>
                            <li><a href="#">
                                <i class="fa-solid fa-right-to-bracket"></i>
                                Log Out</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="mainline">
        Upcoming Quizzes
    </div>
    
    <div class="upcomingQuizzes">
        <div id="container1">
            <div class="quiz1">
                <img id="q1i1" src="pokemon-quiz.jpg" alt="pokemon-quiz">
                <img id="q1i2" src="quiz1.jpg" alt="quiz1">
                <a href="#">
                    <button class="register">
                        <i class="fa-solid fa-file-pen"></i>
                        Register
                    </button>
                </a>
            </div>
            <div class="quiz2">
                <img id="q2i1" src="marvel.jpg" alt="marvel">
                <img id="q2i2" src="marvel-quiz.jpg" alt="marvel-quiz">
                <a href="#">
                    <button class="register">
                        <i class="fa-solid fa-file-pen"></i>
                        Register
                    </button>
                </a>
            </div>
        </div>
    </div>
    <br>
    <div class="mainline2">
        Featured Quizzes
    </div>

    <div class="featuredQuizzes">
        <div id="fquiz1" class="fquiz">
            <div class="fquizTitleBox">
                <div class="fquizTitle">History of Olympics</div>
                <div class="fquizDate">Held on XX-XX-20XX</div>
                <a href="#"><button class="takeQuiz">Take Quiz</button></a>
            </div>
        </div>

        <div id="fquiz2" class="fquiz">
            <div class="fquizTitleBox">
                <div class="fquizTitle">Dummy Quiz2</div>
                <div class="fquizDate">Held on XX-XX-20XX</div>
                <a href="#"><button class="takeQuiz">Take Quiz</button></a>
            </div>
        </div>

        <div id="fquiz3" class="fquiz">
            <div class="fquizTitleBox">
                <div class="fquizTitle">Dummy Quiz3</div>
                <div class="fquizDate">Held on XX-XX-20XX</div>
                <a href="#"><button class="takeQuiz">Take Quiz</button></a>
            </div>
        </div>
    </div>
    <script src="./script/script_dashbaord.js"></script>

    <div class="separator2">
        |
    </div>
</body>
</html>