<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home page</h1>
    <button onclick="goToLogin()">Login</button><br><br>
    <button onclick="goToSignUp()">Sign Up</button><br><br>
    <button onclick="goToQuizes()">Quizes</button><br><br>
    <script>
        function goToLogin(){
            window.location.href = '/login'
        }
        function goToSignUp(){
            window.location.href = '/signup'
        }
        function goToQuizes(){
            window.location.href = '/quizes'
        }
    </script>
</body>
</html>