<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>These are quizes</h1>
    <table border="1">
        <thead>
            <th>Quiz Name</th>
            <th>No. of Questions</th>
            <th>Link</th>
        </thead>
        <% for(let quiz of quizes){%>
            <tr>
                <td><%=quiz.name%></td>
                <td><%=quiz.qna.length%></td>
                <td><a href="" id="<%=quiz.quizId%>">Link</a></td>
            </tr>
        <%}%>
    </table>
    <script>
        const quizes = JSON.parse(`<%- JSON.stringify(quizes) %>`);
        for(let quiz of quizes){
            let link = document.getElementById((quiz.quizId).toString())
            link.addEventListener('click',(e)=>{
                e.preventDefault()
                window.location.href = window.location.href+'/'+quiz.quizId
            })
        }
    </script>
</body>
</html>