body{

  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom,black,white);
}

#subm{
  border-radius: 5px;
  background-color: black;
  color: beige;
  transition: 0.23s;
  
}

#subm:hover{
  opacity: 0.7;
  box-shadow: 2px 2px 6px black;
}

#subm:active{
  background-color: beige;
  color: black;
}

label{
  margin: 2px;
  display: block;
  font-family: Montserrat,Arial;
}
fieldset{
  width: 50%;
  text-align: center;
  background-image: linear-gradient(to bottom,rgb(224, 162, 172),rgb(231, 106, 92),rgb(223, 223, 198));
  border: 1px black solid;
  border-radius: 12px;
}

legend{
  background-color: rgb(22, 22, 22);
  color: white;
  padding: 3px;
  border: 1px rgb(245, 232, 232) solid;
  border-radius: 5px;
}

#userForm{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}